<div class="center hero-unit">
	
  <h1>Welcome to Zend!</h1>

  <h2>File transfer made easy for everyone.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
</div>

<div class="rotating_image">
	<center><%= link_to image_tag("logo_large.png", size: "500x500", alt: "Zend logo"), 'http://rubyonrails.org/' %></center>
</div>

<div class="bullet clearfix">
	
	<div class="bullet-content-right">
		<h2>Simple</h2>
		<medium>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </medium>
	</div>
	
	<div class="bullet-image-left">
		<%= image_tag("icon_simple.png", alt: "closed secure icon") %>
	</div>

</div>

<div class="bullet clearfix">
	
	<div class="bullet-content-left">
		<h2>Fast</h2>
		<medium>Share files faster than ever. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</medium>
	</div>
	
	<div class="bullet-image-right">
		<%= image_tag("icon_fast.png", alt: "Fast icon") %>
	</div>

</div>

<div class="bullet clearfix">
	
	<div class="bullet-content-right">
		<h2>Secure</h2>
		<medium>Your files are always safe while sending them with Zend. Zend secures your files with 256-bit AES encryption and two-step verification. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </medium>
	</div>
	
	<div class="bullet-image-left">
		<%= image_tag("icon_secure_closed.png", alt: "closed secure icon") %>
	</div>

</div>

<div class="bullet clearfix">
	
	<div class="bullet-content-left">
		<h2>Free</h2>
		<medium>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </medium>
	</div>
	
	<div class="bullet-image-right">
		<%= image_tag("icon_free.png",  alt: "closed secure icon") %>
	</div>

</div>

<div class="bullet clearfix">
	
	<div class="bullet-content-right">
		<h2>Unlimited</h2>
		<medium>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </medium>
	</div>
	
	<div class="bullet-image-left">
		<%= image_tag("icon_unlimited.png", alt: "closed secure icon") %>
	</div>

</div>



