<% provide(:title, 'User List') %>

<div id="users">
<% for user in @users %>
  <%  if user != current_user && !current_user.contacts.include?(user)%>
  	<div class="user">
    	<p>
      	<strong><%=h user.name %></strong>
      	<%= link_to "Add Connection", connections_path(:contact_id => user.id), :method => :post %>
      	<div class="clear"></div>
    	</p>
  </div>
  <%end%>
<% end %>
</div>