<% provide(:title, 'Create group') %>
<h1>Sign up test</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@group) do |f| %>

    	<%= f.label :name %>
    	<%= f.text_field :name %>

    	<%= f.label :description %>
    	<%= f.text_field :description %>
    	
    	<h3> Select the contacts to add to the group </h3>
    	
		<% @user.contacts.each do |contact| %>
			<%= check_box_tag "contact_ids[]", contact.id %>
			<%= label_tag "contact_ids[]", contact.name %>
		<% end %>

    	<%= f.submit "Create new group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>