<% provide(:title, 'Inbox') %>

<p>Username: <%=h @user.name %></p>

<h2>Connections</h2>
<ul>
  <% for connection in @user.connections %>
    <li>
      <%=h connection.contact.name %>
      (<%= link_to "remove", connection, :method => :delete %>)
      (<%= link_to "Add file for this connection", new_saved_file_path(:connection_id => connection.id) %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Connections", new_connection_path %></p>

<h2>Groups you own</h2>
<p><%= link_to "Create group", new_group_path %></p>
<ul>
  <% for group in @user.owned_groups %>
    <li>
      <%=h group.name %>
      (
      <% group.group_connections.each do |connection|%>
      	<%= connection.contact.name%>  
      <% end %>
      )
    </li>
  <% end %>
</ul>

<h2>Groups you're part of</h2>
<ul>
  <% for group in @user.groups %>
    <li>
      <%=h group.name %>
      (
      <% group.group_connections.each do |connection|%>
      	<%= connection.contact.name%>  
      <% end %>
      )
    </li>
  <% end %>
</ul>

<h2>Connected by Users</h2>
<ul>
  <% for inverse_connection in @user.inverse_connections %>
    <li><%=h inverse_connection.user.name %></li>
  <% end %>
</ul>

<h2>Newest received files</h2>
<ul>
  <% @user.find_newest_files(5).each{ |csf| %>
  	<li>
  		<%= image_tag(csf.saved_file.name, size: "100x100", alt: csf.saved_file.name, title: csf.saved_file.name) %>
  		<%=h csf.saved_file.name %>
  		(<%=h csf.connection.user.name %>)
  	</li>
  <%}%>

</ul>