<% provide(:title, 'User List') %>

<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.name %></strong>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>