<% provide(:title, 'User List') %>

<div id="users">
<% for saved_file in @saved_files %>
  <div class="user">
    <p>
      <strong><%=h saved_file.name.url %></strong>
      <p>&nbsp&nbsp&nbsp&nbsp<strong>Owned by: </strong><%= saved_file.connections.first.user.name %></p>
      <p>&nbsp&nbsp&nbsp&nbsp<strong>Sent to: </strong><%= saved_file.connections.first.contact.name %></p>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>