<% provide(:title, 'File') %>
<h1>Sign up test</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@saved_file) do |f| %>
    	
    	<%= hidden_field_tag :connection_id, params[:connection_id] %>
	
    	<%= f.file_field :name %>   

    	<%= f.submit "Create my file", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
