<% provide(:title, @saved_file.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @saved_file.name %>
        <%= @saved_file.connection_saved_files %>
      </h1>
    </section>
  </aside>
</div>