<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About Zend",   about_path %></li>
      <li><%= link_to "Privacy & Terms",   privacyterms_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>