<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
        	
          <li class="logo"><%= link_to image_tag("text.png", size: "60x60", alt: "Zend logo"), root_path %></li>
          <!-- <li><%= link_to "Home", root_path %></li> -->
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li><%= link_to "Authentication", authentications_url %></li>
                <li><%= link_to "Inbox", inbox_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to image_tag("google-white-signin_long_base_44dp.png", size: '150x60', alt: "Sign in with Google+"), "/auth/google_oauth2", id: "sign_in_google" %></li>
            <li><%= link_to image_tag("facebook_signin.png", size: '150x60', alt: "Sign in with Facebook"), "/auth/facebook", id: "sign_in_facebook" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>